<h1><%=@case.title%></h1>
<p><%=@case.description%></p>

<h2>Victim details</h2>
<p>Eye color: <%=@case.eyes%> </p>
<p>Hair color: <%=@case.hair_raw%></p>
<p>Race: <%=@case.race_raw%></p>

<h3>Crime Details:</h3>
<%= @case.details%>