<h1><%=@case.title%></h1>
<h2>Date of Birth on file: <%=@case.birthday%></h2>
<p><%=@case.description%></p>

<%= image_tag @case.image %>



<h2>Victim details</h2>
<p>Eye color: <%=@case.eyes%> </p>
<p>Hair color: <%=@case.hair_raw%></p>
<p>Race: <%=@case.race_raw%></p>

<h3>Crime Details:</h3>
<%= @case.details%>