
<h1> LEO Registration </h1>

<% if flash[:messages]%>
    <% flash[:messages].each do |e| %>
        <%= e %><br>
    <%end%>
<%end%>

<%= form_for @user do |f| %>
    <%= f.label :name %> <br>
    <%= f.text_field :name %> <br><br>
    <%= f.label :username %> <br>
    <%= f.text_field :username %> <br><br>
    <%= f.label :password %> <br>
    <%= f.password_field :password %> <br><br>
    <%= f.label :password_confirmation %> <br>
    <%= f.password_field :password_confirmation %> <br><br>
    <%= f.label :badge_id %> <br>
    <%= f.text_field :badge_id%> <br><br>
    <%= f.label :city %> <br>
    <%= f.collection_select :city_id, @cities, :id, :display_name%><br><br>
    <%= f.submit "Register" %> <br>
<% end %>