<h1>View All Crimes on Website</h1>
<hr>


<h4> Search by Title</h4>
<%= form_tag(crimes_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search])%>
    <%= submit_tag ("Search")%>
<%end%>
<hr>

<div class="container">
<% @crimes.each do |crime| %>
    <div class="card" style="width: 10rem;">
        <% if crime.image_small%>
            <img class="card-img-top" src=<%=crime.image_small%>>
        <% end %>
        <% if crime.user_image.attached? %>
            <img class="card-img-top" style="max-width: 200px;"src=<%=url_for(crime.user_image)%>>
        <% end %>
        <div class="card-body">
            <p class="card-text"><%=link_to crime.title, crime_path(crime) %></p>
            <p class="card-text"><%=crime.city.display_name %></p>
        </div>
    </div>

<%end%>
</div>
