<h1> Post New Crime for <%= @current_user.city.display_name%> </h1> 
<hr>
<% if flash[:my_errors] %>
  <% flash[:my_errors].each do |error| %>
    <p> <%= error %></p>
  <% end %>
<% end %>

<%= form_for @crime do |f| %>
  <%= f.label :title %> <br>
  <%= f.text_field :title  %> <br>
  <br>
  <%= f.label :description %> <br>
  <%= f.text_field :description  %> <br>
  <br>
  <%= f.label :details %> <br>
  <%= f.text_area :details  %> <br>
  <br>
  <%= f.label "Hair color" %> <br>
  <%= f.text_field :hair_raw %> <br>
  <br>
  <%= f.label "Race" %> <br>
  <%= f.text_field :race_raw  %> <br>
  <br>
  <%= f.label "Eye color" %> <br>
  <%= f.text_field :eyes  %> <br >
  <br>
  <%= f.label :sex %> <br>
  <%= f.text_field :sex  %> <br>
  <br>
  <%= f.label :birthday %> <br>
  <%= f.text_field :birthday  %> <br>
  <%= f.hidden_field :city_id, :value => @current_user.city.id %>
  <br>
  <%= f.label :warning_message %> <br>
  <%= f.text_area :warning_message  %> <br>
  <br>
  <%= f.label "Image URL " %> <br>
  <%= f.text_field :image %>
  <%= f.label " Or upload image" %>
  <%= f.file_field :user_image %> <br>
  <br>
  <%= f.label :scars_and_marks %> <br>
  <%= f.text_field :scars_and_marks  %> <br>
  <br>
  <%= f.label :alias %> <br>
  <%= f.text_field :alias  %> <br>
  <br>
  <%= f.label "Additional concerns" %> <br>
  <%= f.text_area :caution  %> <br>
  <br>
  <%= f.label "Final details" %> <br>
  <%= f.text_area :remarks  %> <br>
  <br>
  <%= f.label :reward %> <br>
  <%= f.number_field :reward  %> <br>
  <br>
  <%= f.submit %>

<% end %>
