
<h1><%=@crime.title%></h1>
<p><%=@crime.description%></p>
<h2><%=@crime.city.display_name%></h2>
<h2>Aliases: <%=@crime.filter_aliases %></h2>
<h2><%=@crime.warning_message %></h2>
<h2>Date of Birth on file: <%=@crime.filter_birthdays%></h2>
<% if @crime.image%>
    <%= image_tag @crime.image %>
<% end %>
<% if @crime.user_image.attached? %>
    <%= image_tag url_for(@crime.user_image)%>
<% end %>
<hr>
<h2>Details</h2>
<p>Sex: <%=@crime.sex ||= "N/A"%> </p>
<p>Scars and marks: <%=@crime.scars_and_marks ||= "N/A"%></p>
<p>Eye color: <%=@crime.eyes ||= "N/A"%> </p>
<p>Hair color: <%=@crime.hair_raw ||= "N/A"%></p>
<p>Race: <%=@crime.race_raw ||= "N/A"%></p>

<hr>
<p><%= @crime.filter_details %></p>

<p><%= @crime.filter_caution%></p>

<p><%= @crime.filter_remarks%> </p>

<p>View on FBI's website: <%= link_to @crime.url, @crime.url%></p>



<h3>Reward: $<%= @crime.reward%></h3>

<h3>Anonymous tips reported</h3>
<table> 
    <% @crime.anon_tips.each do |tip| %>
            <tr>
                <td> <%= tip.tip %></td>
                <td> <%= tip.created_at.strftime('%m-%d-%Y') %></td>
                <td> <%#= button_to "Delete", update_path(update), method: :delete %></td>
            </tr>
    <% end %>
</table>
  

<div>
<% if logged_in? %>
    <h4>Recent updates</h4>
    <table> 
    <% @crime.updates.each do |update| %>
            <tr>
                <td> <%= update.content %></td>
                <td> <%= update.created_at.strftime('%m-%d-%Y') %></td>
                <td> <%= button_to "Delete", update_path(update), method: :delete %></td>
            </tr>
        <% end %>
    </table>

    <% if @current_user.city == @crime.city %>
        <h4>Add a new update for this case</h4>
        <%= form_for Update.new do |f| %>
            <%=f.hidden_field :crime_id, :value => @crime.id %>
            <%=f.hidden_field :user_id, :value => @current_user.id %>
            <%=f.text_area :content %>
            <br>
            <%=f.submit%>   
        <%= link_to "Edit crime details", edit_crime_path%>
           
    <% end %>
     <%end%>

    
<% else %>
    <h4>Post an anonymous tip for this case</h4>
    <%= form_for AnonTip.new do |f| %>
        <%=f.hidden_field :crime_id, :value => @crime.id %>
        <%=f.text_area :tip %>
        <br>
        <%=f.submit%>   
       
<% end %>

    <%#= form_tag post_update_path do %>
    <%#= text_area_tag :content%>
    <%# hidden_field_tag :crime_id, :value => @crime.id%>
    <%#= hidden_field_tag :user_id, :value => @current_user.id%>
    <%#= submit_tag "Post" %>
    <%#end%>

<% end %>
</div>

