
<h1>Field Office: <%=@city.display_name%></h1>
<h2>Total Crimes: <%=@city.crimes.count%></h2> 
<hr>



<%if logged_in? && @current_user.city == @city%>
<div class= "text-center" >
<button type="button" class="btn btn-warning btn-lg"> <b> <%=link_to "Post New Offense", new_crime_path%></b> </button>
</div>
    <h3>Your Cases Files:</h3>
<%end%>

<div class= "card-columns">
    <%@ordered_crimes.each do |crime| %>
    <div class="card">
        <div class="no-img-place-holder">
        <% if crime.image_small%>
            <%= image_tag crime.image_small, :class => "card-img-top image-max-size" %>
        <% end%>
        <% if crime.user_image.attached? %>
            <img class="card-img-top image-max-size" src=<%=url_for(crime.user_image) %>>
        <% end %>
    </div>

    <div class="card-body">
        <h5 class="card-title"><button type="button" class="btn btn-outline-dark"><%=crime.title%></button></h5> </div>
        <p class="card-text text-center"></p>
        <p class="card-text text-center"><small class="text-muted"><button type="button" class="btn btn-warning"><b><%=link_to 'View', crime_path(crime)%> </b></button></small></p>
    </div>
    <%end%>
</div>
