
<h1>Field Office: <%=@city.display_name%></h1>
<hr>
<h2>Total Crimes: <%=@city.crimes.count%></h2>



<%if logged_in? && @current_user.city == @city%>
<p> <%=link_to "Post New Offense", new_crime_path%> </p>
    <h3>Your Cases Files:</h3>
<%end%>

    <div class= "card-columns">
    <%@ordered_crimes.each do |crime| %>
            <%#for image%>
            <div class="card">
             <div class="no-img-place-holder">
              <% if crime.image_small%>
                  <%= image_tag crime.image_small, :class => "card-img-top image-max-size" %>
              <% end%>
              <% if crime.user_image.attached? %>
                <img class="card-img-top image-max-size" src=<%=url_for(crime.user_image) %>>
             <% end %>
             <%# if there's no small image%>
            </div>

                

                <div class="card-body">
                    <h5 class="card-title"><%=crime.title%></h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted"><%=link_to crime.title, crime_path(crime)%> </small></p>
                </div>
            </div>
    <%end%>
    </div>
