
<h1>Field Office: <%=@city.display_name%></h1>
<h2>Total Crimes: <%=@city.crimes.count%></h2> 
<hr>



<%if logged_in? && @current_user.city == @city%>
<div class= "text-center" >
<button type="button" class="btn btn-warning btn-lg"> <b> <%=link_to "Post New Offense", new_crime_path%></b> </button>
</div>
    <h3>Your Cases Files:</h3>
<%end%>

<div class="container">
<% @ordered_crimes.each do |crime| %>
    <div class="card" style="width: 10rem;">
        <% if crime.image_small%>
            <img class="card-img-top" src=<%=crime.image_small%>>
        <% end %>
        <% if crime.user_image.attached? %>
            <img class="card-img-top" style="max-width: 200px;"src=<%=url_for(crime.user_image)%>>
        <% end %>
        <div class="card-body">
            <p class="card-text"><%=link_to crime.title, crime_path(crime) %></p>
            <p class="card-text"></p>
        </div>
    </div>

<%end%>
</div>
