
<h1>Field Office: <%=@city.display_name%></h1>
<hr>
<h2>Total Crimes: <%=@city.crimes.count%></h2>


<h3>Cases Files:</h3>
<ol>
    <%@city.crimes.each do |crime| %>
        <li> <% if crime.image_small%>
                <%= image_tag crime.image_small %>
            <% end %>
            <% if crime.user_image.attached? %>
                <img style="max-width: 100px;"src=<%=url_for(crime.user_image)%>>
            <% end %>
        <p> <%=link_to crime.title, crime_path(crime)%> </p> </li>

    <%end%>
</ol>