
<h1 class="text-center">DO YOU KNOW ANYTHING ABOUT THESE CRIMES?</h1>
<hr>

<div class="container">
<% Crime.random_crimes.each do |crime| %>
    <div class="card" style="width: 10rem;">
        <% if crime.image_small%>
            <img class="card-img-top" src=<%=crime.image_small%>>
        <% end %>
        <% if crime.user_image.attached? %>
            <img class="card-img-top" style="max-width: 200px;"src=<%=url_for(crime.user_image)%>>
        <% end %>
        <div class="card-body">
            <p class="card-text"></p><%=link_to crime.title, crime_path(crime) %></p>
        </div>
    </div>

<%end%>
</div>




<br><br>
<div class="text-center">
<h2>Five Most Wanted</h2>

<div class="container">
<% Crime.five_most_wanted.each do |crime| %>
    <div class="card" style="width: 10rem;">
        <% if crime.image_small%>
            <img class="card-img-top" src=<%=crime.image_small%>>
        <% end %>
        <% if crime.user_image.attached? %>
            <img class="card-img-top" style="max-width: 200px;"src=<%=url_for(crime.user_image)%>>
        <% end %>
        <div class="card-body">
            <p class="card-text">Reward: $<%=crime.reward%></p>
            <p class="card-text"><%=link_to crime.title, crime_path(crime) %></p>
        </div>
    </div>

<%end%>
</div>