
<h1>DO YOU KNOW ANYTHING ABOUT THESE CRIMES?</h1>
<hr>
<div class="text-center">
<table class='table'>
<h2> Random Crimes </h2>
    <% Crime.random_crimes.each do |crime| %>
        <tr>
            <td><% if crime.image_small%>
                <%= image_tag crime.image_small %>
                <% elsif crime.user_image.attached? %>
                    <img style="max-width: 100px;"src=<%=url_for(crime.user_image)%>>
                <% end %></td>
            <td><%= link_to crime.title, crime_path(crime) %></td>
            <td>City: <%= crime.city.display_name %></td>
        </tr>
    <% end %>
</table>
</div>

<div class="text-center">
<h2>Five Most Wanted</h2>
<table>
    <% Crime.five_most_wanted.each do |crime| %>
        <tr>
            <td><% if crime.image_small%>
                    <%= image_tag crime.image_small %>
                <% elsif crime.user_image.attached? %>
                    <img style="max-width: 100px;"src=<%=url_for(crime.user_image)%>>
                <% end %></td>
            <td><%= link_to crime.title, crime_path(crime) %></td>
            <td>Toal Reward: $<%= crime.reward %></td>
        </tr>
    <% end %>
</table>
</div>
