<h1>Hello <%= @current_user.name if logged_in? %></h1>

Home page content:
-Random or recently added crimes
-Crimes with highest rewards - Most Wanted

Navigation:
-Home
-Link to random crime
-Crimes by cities
-Login/Sign/Logout
-Anonymous tips

<h2>Do you know anything about these crimes?</h2>
<table>
    <% Crime.random_crimes.each do |crime| %>
        <tr>
            <td><%= image_tag crime.image_small %></td>
            <td><%= link_to crime.title, crime_path(crime) %></td>
            <td><%= crime.city.display_name %></td>
        </tr>
    <% end %>
</table>

<h2>5 Most Wanted</h2>
<table>
    <% Crime.five_most_wanted.each do |crime| %>
        <tr>
            <td><%= image_tag crime.image_small %></td>
            <td><%= link_to crime.title, crime_path(crime) %></td>
            <td>$<%= crime.reward %></td>
        </tr>
    <% end %>
</table>
