<!DOCTYPE html>
<html>
  <head>
    <title>MostWanted</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>

    <% if logged_in? %>
      <%= link_to "Welcome page", welcome_path %>
      <%=link_to "Your crime updates", updates_path%>
    <%=link_to "Your crimes", city_path(@current_user.city)%>
      
    <% else %>
      <%= link_to "Home", home_path %>
    <%end%>

    <%= link_to "All crimes", crimes_path%>
    <%= link_to "Crimes by city", cities_path %>
    

    
    <% if logged_in? %>
      <b>Logged in as: <%= @current_user.username %> ID: <%= @current_user.badge_id%></b>
      <%= button_to "Log out", '/logout', method: :delete %>
    <% else %>
      <%= link_to "Login", login_path %>
      <%= link_to "Register", new_user_path %>
    <%end%>



    </nav>
    <%= yield %>
  </body>
</html>
